.filterResult {
  padding-top: 35px;
  padding-bottom: 50px;

  & .numberFound {
    font-size: 22px;
    font-weight: 400;
    line-height: 31.61px;
  }
}

.filters {
  display: flex;
  gap: 20px;

  .dropdown {
    cursor: pointer;
    z-index: 99;
  }

  .type {
    display: flex;
    background-color: #fff;
    border: none;
    border-radius: 6px;
    padding: 15px;
    font-family: Manrope, sans-serif;
    font-size: 14px;
    line-height: 21.86px;
    text-align: left;
    height: fit-content;
    width: 200px;
    font-weight: 700;
    z-index: 99;
    justify-content: space-between;
    align-items: center;
  }

  .hiddenList {
    display: none;
    position: absolute;
    background-color: #fff;
    font-family: Manrope, sans-serif;
    font-size: 14px;
    list-style: none;
    border-radius: 6px;
    padding: 15px 0;
    //height: 315px;
    overflow: auto;
    width: 100%;

    & ul {
      //height: 225px;
      padding: 0;
      margin: 0;
      //overflow-x: hidden;
      //overflow-y: scroll;
      //scrollbar-width: thin;
    }

    & li {
      list-style: none;
      padding: 0 15px;
    }

    & li:hover {
      background-color: #e1e5e8;
    }
  }

  .show {
    display: block;
  }

  .dropdown-container {
    margin-bottom: 20px;
  }
}

.error-message {
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: red;
  margin-bottom: 5px;
  height: 18px!important;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.selectionDisplay {
  display: flex;
  gap: 12px;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }


  & .itemFilterSelectedDiv {
    display: flex;
    gap: 12px;
  }

  & .selectedItem {
    display: flex;
    width: max-content;
    background: #FFD15B;
    gap: 10px;
    padding: 14px 14px 15px 22px;
    border-radius: 8px;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
  }

  & .xMark {
    display: flex;
    align-items: center;
    padding: 0 5.25px;
    cursor: pointer;

    & i {
      padding-top: 4px;
      font-size: 18px;
    }
  }
}

.searchContainer {
  padding: 0 15px;
  margin-bottom: 14px;

  .searchFlex {
    display: flex;
    border: 1px solid #C6C6C6;
    border-radius: 6px;
    align-items: center;
    padding: 8px;
  }

  & .search-input {
    display: flex;
    width: 100%;
    outline: none;
    border: none;
    &:hover {
      border-color: #FFD15B;
    }
  }
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.fa-chevron-down {
  transition: transform 0.3s ease;
}