.noRecipeMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .message {
    font-family: "Manrope", sans-serif;
    color: #000;
    font-size: 1.2em;
    text-align: center;
    margin-top: 10px;
    font-weight: 500;
  }

  & .imgNoRecipe {
    height: 350px;
  }
}